@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

body {
  background: radial-gradient(#277553, #34473f);
  text-align: center;
  font-family: 'Montserrat', sans-serif!important;
}

h1 {
  color: #f4a341 !important;
  font-family: 'Montserrat', sans-serif!important;
}

a {
  margin: 10px;
  color: black !important;
}

img {}

button {
  font-size: 1.5rem;
}

header {
  background-color: #d9f442;
  opacity: 0.5;
  border-radius: 5px;
  /*width:50%;*/
  height: 2rem;
  display: inline-block;
  margin: 1rem;
}
